# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Unit test / coverage reports
.pytest_cache/

# Pdm
.pdm.toml
.pdm-python
.pdm-build/
__pypackages__/

# Environments
.env
.venv

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Ruff
.ruff_cache/